/*--- FONTS ---*/
h1, h2, h3, h4{
    font-family: var(--titleFont);
}

p, #table-of-contents li a, ul li{
    font-family: var(--baseFont);
}

pre, code{
    font-family: var(--codeFont);
}

/*--- COLORS ---*/
h1, a, h3, pre, code{
    color: var(--semiDarkColor);
}

h2, #table-of-contents h2, #table-of-contents li a{
    color: var(--darkColor);
}

b, h4{
    color: var(--semiLightColor);
}




a:hover{
    color: var(--semiLightColor);
}

/*--- HEADINGS ---*/
h1, h2, h3{
    text-transform: uppercase;
}

h1{
    font-size: calc(2*var(--baseUnit));
}

h2{
    width: fit-content;
    background-image: linear-gradient(transparent calc(100% - var(--baseUnit)),var(--lightColor)  var(--baseUnit));
    margin-top: calc(2*var(--baseUnit));
}

h2, #table-of-contents h2{
    font-size: calc(1.5*var(--baseUnit));
    margin-bottom: var(--baseUnit);
}

#table-of-contents h2{
    background-color: transparent;
    background: none;
    align-self: center;
    margin-top: 0;
}

h3{
    font-size: calc(1.2*var(--baseUnit));
    margin-top: calc(2*var(--baseUnit));
    margin-bottom: calc(1*var(--baseUnit));
}

h4{
    font-size: calc(1*var(--baseUnit));
    margin-top: calc(1*var(--baseUnit));
    margin-bottom: calc(.5*var(--baseUnit));
}


/*--- BASE ---*/
p{
    font-size: calc(1*var(--baseUnit));
    line-height:calc(1.5*var(--baseUnit));
}

.outline-text-2 > ul{
    margin-top: calc(2*var(--baseUnit));
    margin-bottom: calc(2*var(--baseUnit));
}

.outline-2 ul{
    list-style: initial;
    margin-left: calc(1.5*var(--baseUnit));
    line-height:calc(1.5*var(--baseUnit));
}

.outline-2 ul ul{
    list-style: circle;
}

.outline-2 ul li{
    margin-top: calc(1*var(--baseUnit));
}

b{
    font-weight: bold;
}

pre{
    border-radius: calc(.5*var(--baseUnit));
    margin-top: calc(.5*var(--baseUnit));
}

code{
    padding: calc(.25*var(--baseUnit));
    border-radius: calc(.25*var(--baseUnit));
}

