/*--- IMPORT FONT ---*/

@font-face {
    font-family: "Secular One";
    src: url("fonts/SecularOne-Regular.ttf");
}

@font-face {
    font-family: "Red Hat Display";
    src: url("fonts/RedHatDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Roboto mono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf");
}

/*--- VARIABLES ---*/

:root{
    /*--- COLORS ---*/
    --lightColor: #eff07e;
    --semiLightColor: #93cb82;
    --neutralColor: #50a08a;
    --semiDarkColor: #32727b;
    --darkColor: #304553;
    --baseColor: 255, 255, 255;

    /*--- UNITS ---*/
    --baseUnit: 16px;

    /*--- FONTS ---*/
    --titleFont: "Secular One";
    --baseFont: "Red Hat Display";
    --codeFont: "Roboto mono";
}
